.Home {
    /* put around the vertical center of page */
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
  }
  
.home-button-container {
  display: flex;
  justify-content: center;
}

.home-button {
  margin: 0.25rem;
}