.SignupForm {
    padding: 0;
}

.SignupForm-formfields {
    max-width: 430px;
    margin: 0 auto;
    text-align: left;
}

.SignupForm-formfields .form-group {
    margin-bottom: 1rem;
}

.SignupForm-formfields .form-control {
    margin-bottom: 0;
}

.SignupForm h1 {
    margin-bottom: 1.5rem;
}

